<!--lint disable awesome-git-repo-age-->
# Awesome Cooklang Recipes [![Awesome](https://awesome.re/badge-flat.svg)](https://awesome.re)

<img src="https://cooklang.org/images/logo.svg" align="left" width="144px" height="144px"/>

> [cooklang][1] is a recipe markup language used to simplify your personal recipe management, streamline your shopping
> routine, and make cooking more fun.

This is a curated list of cookbooks and recipes involving the use of the cooklang recipe markup language.

<br />

## Contents

- [Cookbooks](#cookbooks)

## Cookbooks

| Website | Cooklang | User | Description |
|---------|----------|------|-------------|
{%- for cookbook in user_cookbooks %}
| {% if cookbook['website']['name']=="-" or cookbook['website']['name']=="" %}-{% else %}[{{ cookbook['website']['name'] }}]({{ cookbook['website']['url'] }}){%- endif %} | {%- if cookbook['cooklang']['name']=="-" or cookbook['cooklang']['name']=="" %}-{% else %} [{{ cookbook['cooklang']['name'] }}]({{ cookbook['cooklang']['url'] }}){%- endif %} | {% if cookbook['user']['url']=="" %}{{ cookbook['user']['name'] }}{% else %}[{{ cookbook['user']['name'] }}]({{ cookbook['user']['url'] }}){% endif %} | {{ cookbook['description'] }} |
{%- endfor %}

[1]: https://cooklang.org/
